{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
  {gen_batch, ".*", {git, "https://github.com/rackerlabs/gen_batch.git"}},
  {presenterl, ".*", {git, "https://github.com/CamShaft/presenterl.git"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.1"}}
]}.
